.button {
  background-color: #1e3c72; /* Azul oscuro */
  border-radius: 40px; /* Bordes redondeados */
  color: #ffffff; /* Letra blanca */
  padding: 10px 20px; /* Espaciado interior */
  border: none; /* Quita el borde */
  cursor: pointer; /* Cambia el cursor al pasar */
  font-size: 16px; /* Tama침o de fuente */
  text-align: center; /* Alineaci칩n de texto */
  text-decoration: none; /* Quita el subrayado */
  display: inline-block; /* Hace que el bot칩n se ajuste al contenido */
  transition: background-color 0.3s; /* Transici칩n suave */
}

.button:hover {
  background-color: #0f2554; /* Cambio de color al pasar */
}


section {
  display: flex; /* Utiliza flexbox para centrar contenido */
  flex-direction: column; /* Alinea el contenido en una columna */
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  height: 100vh; /* Establece la altura al 100% de la ventana del navegador */
  text-align: center; /* Alinea el texto en el centro */
}